html{
    color: white;
    background-color: black;
}

select,input{
    border: 1px solid #ffffff;
    background: none;
    color: white;
}
select option{
    background: none;
    color: black;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fix-window{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 800px;
    height: 600px;
    border-radius: 2px;
    border: 2px solid white;
    padding: 20px 20px 0px 20px;
}

.header{
    text-align: center;
    /* top: 0;
    position: fixed;
    */
    overflow: hidden;
    border-bottom: 1px groove grey;
}

header{
    margin: 20px 0; 
    font-size: 40px;
}

.calc-generator p{
    text-align: center;
    padding: 20px 0;
}
.about{
    padding: 20px;
}

.calculator{
    padding: 0px 10%;
}

.footer{
    width: 100%;
    clear: both;
    height: 20px;
    padding: 15% 0px 10px 0px;
    text-align: center;
}

.warning p{
    color: red;
    text-align: center;
    padding: 0px 20px;
}

.about p{
    color: orange;
    text-align: center;
}

a{
    color: orange;
}
a:hover{
    transition: .5s;
    color: red;
}

@media screen and (min-width: 0px) and (max-width: 1090px) {

    .fix-window{
        padding: 0;
        border-radius: 0;
        border: none;
    }

}